<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Axe Capital | Index Page</title>
</head>

<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    
                    <span class="fs-5">Axe Capital</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    {% if request.user.is_authenticated %}
                    <a class="me-3 py-2 text-danger text-decoration-none" href="/logout">Logout</a>
                    <a class="me-3 py-2 text-primary text-decoration-none" href="/payment">Make Payment</a>
                    <a class="me-3 py-2 text-success text-decoration-none" href="/withdraw">Withdrawal Request</a>
                    {% else %}
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/admin-home">Admin Panel</a>
                    {% endif %}
                    
                </nav>
            </div>
        </header>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0 !important;">
                  <h5 class="modal-title" id="exampleModalLabel">My Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><small>Username</small> <span class="badge bg-dark">{{request.user.username}}</span></li>
                        {% for i in userdata %}
                            {% if i.user.username == request.user.username %}
                            <li class="list-group-item"><small>Plantype</small> <span class="badge bg-dark">{{i.plantype}}</span></li>
                            <li class="list-group-item"><small>Fixed Rate Interest</small> <span class="badge bg-dark">{{i.fixed_rate}}%</span></li>
                            <li class="list-group-item"><small>Profession</small> <span class="badge bg-dark">{{i.profession}}</span></li>
                            <li class="list-group-item"><small>Mobile</small> <span class="badge bg-dark">{{i.mobile}}</span></li>
                            <li class="list-group-item"><small>Profile Photo</small> <span class="badge bg-primary"><a class="text-decoration-none  text-white" target="_blank" href="{{i.profilephoto.url}}" alt="">click me</a></span></li>
                            {% endif %}
                        {% endfor %}

                        
                    </ul>
                </div>
                <div class="modal-footer" style="border-top: 0 !important;">
                    <a class="text-decoration-none" href="/password-reset">
                        <small>Change Password</small>
                    </a>
                </div>
                
              </div>
            </div>
          </div>

          <div class="card shadow-sm my-4" style="border-radius:15px;">

            <div class="card-body text-center ">
                
                <h3 class="display-4" style="color:#212529; font-size:30px !important">Welcome <b>{{request.user.username|title}}</b></h3>
                    <a class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">view profile</a>
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <span>
                            Total invested amount: ₹<b style="color:black" id="invested-amount"></b>
                        </span>
                        <span>
                            Total present value of investments: ₹<b style="color:blue;font-size: 1.3rem;" id="present-amount"></b>
                        </span>
                        <span>
                            Profit/Loss: <b style="color:green;font-size: 1.3rem;" id="percent"></b><span style="font-size:0.6rem">%</span>
                        </span>
                    </div>
                    
                    
                
            </div>
        </div>
        <h3 class="display-4 text-center mt-5" style="color:#212529; font-size:30px !important;font-weight:bold">Active Investments</h3>
        <div class="card shadow my-4" style="border: 0 !important;border-radius:15px">

            <div class="card-body  ">
                <div class="table-responsive">
                    <table class="table table-sm" id="transTable">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Invested Amount</th>
                                <th scope="col">Present Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Plan Type</th>
                                <th scope="col">Last Updated</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            {% if i.made_by == request.user.username and i.status == 'TXN_SUCCESS' %}
                            <tr>
                                <td>{{i.made_by}}</td>
                                <td>{{i.amount}}</td>
                                <td>{{i.present_amount}}</td>
                                <td>{{i.made_on}}</td>
                                <td>{{i.plantype}}</td>
                                <td>{{i.last_updated}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                            
                        </tbody>
                        
                    </table>
                </div>
                
            </div>
        </div>
        <h3 class="display-4 text-center mt-5" style="color:#212529; font-size:30px !important;font-weight:bold">All Transactions</h3>
        <div class="card shadow my-4" style="border: 0 !important;border-radius:15px">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm" id="transTable2">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Order Id</th>
                                <th scope="col">Transaction Id</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Status</th>
                                <th scope="col">Gateway Name</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for transaction in data %}
                            {% if transaction.made_by == request.user.username %}
                            <tr>
                                <td>{{transaction.made_by}}</td>
                                <td>{{transaction.made_on}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.order_id}}</td>
                                <td>
                                    {% if transaction.status == 'TXN_SUCCESS' %}
                                    <span style="color:green">
                                        {{transaction.txn_id}}
                                    </span>
                                    {% else %}
                                    <span style="color:red">
                                        {{transaction.txn_id}}
                                    </span>
                                    {% endif %}
                                    </td>
                                <td>{{transaction.payment_mode}}</td>
                                <td>{{transaction.status}}</td>
                                <td>{{transaction.gateway_name}}</td>
                                <td>{{transaction.bank_name}}</td>
                                <td>{{transaction.response_message}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                            
                            
                        </tbody>
                    </table>
                </div>
        
        
            </div>
        </div>
        
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md text-center">
                    <small class="d-block mb-3 text-muted">&copy; 2022 | Made with ❤️ by Vibhanshu Garg</small>
                </div>
                
            </div>
        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#transTable').DataTable();
                $('#transTable2').DataTable({
                    order: [[1, 'asc']],
                });
                var invested_amount = 0;                
                var present_amount = 0;
                $("#transTable tr").not(':first').each(function() {
                invested_amount +=  getnum($(this).find("td:eq(1)").text());
                present_amount +=  getnum($(this).find("td:eq(2)").text());
                function getnum(t){
                    if(isNumeric(t)){
                        return parseInt(t,10);
                    }
                    return 0;
                        function isNumeric(n) {
                        return !isNaN(parseFloat(n)) && isFinite(n);
                        }
                }
                });
                var percent = parseFloat(100*(present_amount-invested_amount)/invested_amount).toFixed(2);
                $("#invested-amount").text(invested_amount);
                $("#present-amount").text(present_amount);
                $("#percent").text(percent);
                
            } );
            
        </script>
</body>

</html>